/* =========================
OFERTAS
========================= */
.ofertas {
    padding: 30px 40px;
}

.ofertas h2 {
    color: #111827;
    margin-bottom: 20px;
}

/* =========================
LISTA DE PRODUTOS
========================= */
.lista-ofertas {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    gap: 25px;
    justify-content: center;
    align-items: stretch;
}

/* =========================
CARD DO PRODUTO
========================= */
.produto {
    position: relative;
    width: 220px;
    padding: 20px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
}

.produto img {
    width: 100%;
    height: 260px;
    object-fit: contain;
}

.produto h3 {
    font-size: 16px;
}

/* =========================
DESCONTO
========================= */
.desconto {
    position: absolute;
    top: 10px;
    right: 10px;

    background-color: #dc2626;
    color: white;
    padding: 5px 8px;
    border-radius: 5px;
    font-weight: bold;
}

/* =========================
BOTÃO VER PRODUTO
========================= */
.ver-produto {
    width: 100%;
    padding: 10px;
    margin-top: auto;

    background-color: #1E3A8A;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    transition: 0.2s;
}

.ver-produto:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

/* =========================
BOTÃO VER MAIS
========================= */
.ver-mais {
    display: block;
    margin: 30px auto;
    padding: 12px 30px;

    background-color: white;
    color: #007bff;
    border: 2px solid #007bff;
    border-radius: 25px;

    cursor: pointer;
    font-size: 16px;
    transition: 0.2s;
}

.ver-mais:hover {
    background-color: #007bff;
    color: white;
}
