*
{
    box-sizing: border-box;
}

html,
body
{
    margin: 0;
    padding: 0;
    background: linear-gradient(rgba(17, 24, 39, 0.55), rgba(17, 24, 39, 0.55)),url('/fundo.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.original
{
    color: gray;
    text-decoration: line-through;
}

.novo
{
    color: #1E3A8A;
    font-size: 20px;
    font-weight: bold;
}